<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container">
		<br>
		<h3>Userlist</h3>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr class="text-center">
					<td>UserID</td>
					<td>UserName</td>
					<td>Email</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr th:each="user : ${listUsers}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.uname}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${user.id})}"
						class="btn btn-primary float-left">Update</a> <a
						th:href="@{/deleteUser/{id}(id=${user.id})}"
						class="btn btn-danger float-right"
						onclick="return confirm('Are you sure you want to delete?');">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<a th:href="@{/saveNewUserForm}"
			class="btn btn-success text-center btn-lg">New User</a>
	</div>
</body>
</html>