<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update User</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript">  
        (function () {  
            'use strict';  
            window.addEventListener('load', function () {  
                var form = document.getElementById('needs-validation');  
                form.addEventListener('submit', function (event) {  
                    if (form.checkValidity() === false) {  
                        event.preventDefault();  
                        event.stopPropagation();  
                    }  
                    form.classList.add('was-validated');  
                }, false);  
            }, false);  
        })();  
</script>
</head>
<body>
	<br>
	<br>
	<div class="container">
		<fieldset>
			<legend>Update User</legend>
			<form action="#" th:action="@{/saveUser}" th:object="${user}"
				method="post" id="needs-validation" novalidate>

				<input type="hidden" th:field="*{id}">

				<div class="form-group">
					<input type="text" th:field="*{id}" disabled class="form-control">
				</div>
				<div class="form-group">
					<input type="text" th:field="*{uname}" class="form-control"
						id="uname" aria-describedby="inputGroupPrepend" required>
					<div class="invalid-feedback">Please enter Your name.</div>
				</div>
				<div class="form-group">
					<input type="email" th:field="*{email}" class="form-control"
						id="email" aria-describedby="inputGroupPrepend" required>
					<div class="invalid-feedback">Please provide a valid email.</div>
				</div>
				<div class="form-group">
					<input type="hidden" th:field="*{password}" class="form-control">
				</div>
				<button type="submit" class="btn btn-info">Update User</button>
			</form>
		</fieldset>

		<hr>
		<a th:href="@{/}" class="btn btn-secondary">Back to User list</a>
	</div>
</body>
</html>